<footer>
  <!-- footer + newsletter container  -->
  <div class="footer-container">
    <!-- newsletter starts -->
    <div class="newsletter-wrapper">
      <span class="subscribe"> Subscribe to our Newsletter! </span>
      <!-- form  -->
      <form class="newsletter-form">
        <div class="form-wrapper">
          <label for="email"> Email </label>
          <!-- input  -->
          <input type="email" placeholder="Your e-mail..." />
          <!-- subscribe button  -->
          <button>Subscribe</button>
        </div>
      </form>
    </div>
    <!-- newsletter ends  -->
    <!-- footer container starts  -->
    <div class="socials-container">
      <!-- social medias column container  -->
      <div class="socials-wrapper">
        <p class="social-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
          minus officiis quam veniam nam repellat delectus laborum modi quis
          iusto?
        </p>
        <!-- social icons  -->
        <div class="icons-wrapper">
          <a href="#" class="social-icon facebook">
            <fa-icon [icon]="fbIcon"></fa-icon>
          </a>
          <a href="#" class="social-icon instagram">
            <!-- <BsInstagram /> -->
            <fa-icon [icon]="instagramIcon"></fa-icon>
          </a>
          <a href="#" class="social-icon twitter">
            <!-- <BsTwitter /> -->
            <fa-icon [icon]="twitterIcon"></fa-icon>
          </a>
          <a href="#" class="social-icon linkedin">
            <!-- <BsLinkedin /> -->
            <fa-icon [icon]="linkedinIcon"></fa-icon>
          </a>
        </div>
      </div>
      <!-- footer nav  -->
      <div class="nav-wrapper">
        <!-- Help and Information Menu  -->
        <div class="help-wrapper">
          <span> Help and Information </span>
          <nav>
            <a href="#"> Help </a>
            <a href="#"> Track order </a>
            <a href="#"> Delivery & returns </a>
            <a href="#"> Sitemap </a>
          </nav>
        </div>
        <!-- About Menu  -->
        <div class="about-wrapper">
          <span> About </span>
          <nav>
            <a href="#"> About Us </a>
            <a href="#"> Careers </a>
            <a href="#"> Corporate Responsibility </a>
            <a href="#"> Investor's Site </a>
          </nav>
        </div>
        <!-- More from Us Menu  -->
        <div class="more-wrapper">
          <span> More from Us </span>
          <nav>
            <a href="#"> Mobile Apps </a>
            <a href="#"> E-gift cards </a>
            <a href="#"> Refer a Friend </a>
            <a href="#"> Marketplace </a>
          </nav>
        </div>
      </div>
    </div>
    <!--  Copyrights  -->
    <div class="copyrights">
      <p>Created by RF © Copyright. All rights reserved.</p>
    </div>
  </div>
</footer>
