<section>
  <div class="hero-container">
    <!-- text  -->
    <div class="hero-wrapper">
      <div class="trends-wrapper">
        <div class="line"></div>
        <span>New Trends</span>
      </div>
      <h1 class="title-main">
        AUTUMN STYLISH SALE
        <br />
        <span>WOMEN & MEN</span>
      </h1>
      <a routerLink="/" class="discover-link"> Discover More </a>
    </div>
    <!-- image  -->
    <div class="image-wrapper">
      <img src="assets/model.png" alt="modelImage" />
    </div>
  </div>
</section>
