<div
  [ngClass]="{
    'sidebar-open': sidebarService.getIsOpen(),
    'sidebar-closed': !sidebarService.getIsOpen()
  }"
  class="sidebar-container"
>
  <div class="sidebar-wrapper">
    <div class="shopping-cart">Shopping Cart ({{ itemAmount }})</div>
    <!-- icon  -->
    <div (click)="sidebarService.toggleSidebar()" class="arrow-wrapper">
      <span class="material-icons"> east </span>
    </div>
  </div>
  <div class="cart-products-wrapper">
    <!-- cart items -->
    <app-cart-item
      *ngFor="let product of cart"
      [product]="product"
    ></app-cart-item>
  </div>

  <div class="sidebar-nav">
    <div class="actions-wrapper">
      <!-- total  -->
      <div class="total">
        <span>Total:</span>
        {{ totalValue.toFixed(2) }} zł
      </div>
      <!-- clear cart icon -->
      <div (click)="clearCart()" class="clear-cart">
        <span class="material-icons"> delete </span>
      </div>
    </div>
    <a routerLink="/" class="view-cart"> View Cart </a>
    <a routerLink="/" class="checkout"> Checkout </a>
  </div>
</div>
